{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-3 col-sm-12">
        <div class="text-center mt-1 mb-1">
            <img class="img-fluid rounded-circle center-block" src="{% static 'img/paj.jpg' %}" alt="paj">
        </div>
        <div class="mt-1 mb-5 text-center">
            <h5 class="pt-2 pb-0 text-dark">Python/Odoo Developer</h5>
            <h5 class="text-dark">at</h5>
            <h5>
                <a href="https://www.odoo.com/" target="_blank" rel="noopener">
                    <span>Odoo</span>
                </a>
            </h5>
        </div>
    </div>
    <div class="col-md-9 col-sm-12">
        <p>
            <strong>Hi, I'm Parth Joshi(paj), a 31 year old Software Developer.</strong>
        </p>
        <p>
            I work at <a href="https://www.odoo.com/">Tiny ERP Pvt. Ltd ( aka Odoo India)</a> as Odoo Developer and my
            work comprise of both
            Front End and Backend Technologies but i am passionate about Backend Technologies.
        </p>
        <p>
            Before Working at my Current Company i worked as Python Developer at
            <a href="https://acespritech.com/">Acespritech Solutions Pvt. Ltd</a>
        </p>
        <p>
            I started my professional journy as a Lecturer at <a href="https://www.veerbbabca.org">Veerayatan Institute
                of BBA & BCA</a> where i worked for brif amount of time before moving to IT Industry.
        </p>
        <p>
            I have Completed my Masters in Computer Engineering from <a href="https://www.ddu.ac.in">Dhramsinh Desai
                University</a>.
        </p>
        <p>You can reach me via <a href="mailto:parthjoshi90@gmail.com">parthjoshi90@gmail.com</a></p>
    </div>
</div>
{% endblock content %}