{% load i18n %}

<header>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">PAJ.</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active p-2">
                        <a class="nav-link" href="{% url 'home' %}">Home <span
                                class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link" href="{% url 'blog:blog_home' %}">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>